In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("student_data.csv")

In [5]:
df

,Student Age,Student Attendance,Student Test Marks,Student Percentage in Final Exam
0,24,57,61,52.82
1,21,63,74,58.53
2,22,72,91,73.92
3,24,89,88,83.40
4,20,70,61,49.88
...,...,...,...,...
95,23,77,30,40.31
96,21,93,93,79.64
97,23,93,41,45.26
98,24,69,98,67.48
99,24,79,6,18.35

In [6]:
df.head(5)

,Student Age,Student Attendance,Student Test Marks,Student Percentage in Final Exam
0,24,57,61,52.82
1,21,63,74,58.53
2,22,72,91,73.92
3,24,89,88,83.40
4,20,70,61,49.88

In [8]:
mean1 = np.mean(df["Student Age"])

In [9]:
mean2 = np.mean(df["Student Attendance"])

In [10]:
mean3 = np.mean(df["Student Test Marks"])

In [11]:
mean4 = np.mean(df["Student Percentage in Final Exam"])

In [12]:
std1 = np.std(df["Student Age"])
std2 = np.std(df["Student Attendance"])
std3 = np.std(df["Student Test Marks"])
std4 = np.std(df["Student Percentage in Final Exam"])

In [13]:
# Perform Z-score normalization
# z_scores = (data - mean) / std_dev

z_score1  = (df["Student Age"] - mean1) / std1 ; 
z_score2  = (df["Student Attendance"] - mean2) / std2 ; 
z_score3  = (df["Student Test Marks"] - mean3) / std3 ; 
z_score4  = (df["Student Percentage in Final Exam"] - mean4) / std4 ;

In [27]:
type(z_score1)

pandas.core.series.Series

In [28]:
df["Student Age"] =pd.Series(z_score1)

TypeError: list indices must be integers or slices, not str

In [29]:
df

[0     1.465198
 1    -0.110284
 2     0.414877
 3     1.465198
 4    -0.635444
         ...
 95    0.940037
 96   -0.110284
 97    0.940037
 98    1.465198
 99    1.465198
 Name: Student Age, Length: 100, dtype: float64,
 0    -1.269380
 1    -0.839082
 2    -0.193634
 3     1.025544
 4    -0.337067
         ...
 95    0.164948
 96    1.312410
 97    1.312410
 98   -0.408783
 99    0.308380
 Name: Student Attendance, Length: 100, dtype: float64,
 0     0.313947
 1     0.739083
 2     1.295031
 3     1.196922
 4     0.313947
         ...
 95   -0.699840
 96    1.360436
 97   -0.340109
 98    1.523950
 99   -1.484707
 Name: Student Test Marks, Length: 100, dtype: float64,
 0     0.208048
 1     0.541621
 2     1.440691
 3     1.994505
 4     0.036296
         ...
 95   -0.522775
 96    1.774849
 97   -0.233601
 98    1.064472
 99   -1.805659
 Name: Student Percentage in Final Exam, Length: 100, dtype: float64]