______
**1. Write a program to initialize a dictionary (of your choice) and create a pandas DataFrame from it. Print the dataframe?**

In [3]:
#Code here
import pandas as pd

In [6]:
dict = {"Name" : ["Prantik", "Kinkar","Khelna","Poulami","Chini"], 
        "Age" : [22, 60, 50, 24, 2], 
         "Roll No" : [1,2,3,4,5] }

print(dict)

df1 = pd.DataFrame(dict)
print(df1)

{'Name': ['Prantik', 'Kinkar', 'Khelna', 'Poulami', 'Chini'], 'Age': [22, 60, 50, 24, 2], 'Roll No': [1, 2, 3, 4, 5]}
      Name  Age  Roll No
0  Prantik   22        1
1   Kinkar   60        2
2   Khelna   50        3
3  Poulami   24        4
4    Chini    2        5

___
**2. Write a program to read the CSV file "summer.csv" into a pandas DataFrame "df", display the first 5 rows, and print the DataFrame's shape**

In [7]:
#Code here
df= pd.read_csv("summer.csv")
print(df)

       Year    City      Sport           Discipline  \
0      1896  Athens   Aquatics             Swimming
1      1896  Athens   Aquatics             Swimming
2      1896  Athens   Aquatics             Swimming
3      1896  Athens   Aquatics             Swimming
4      1896  Athens   Aquatics             Swimming
...     ...     ...        ...                  ...
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                         Athlete Country Gender                       Event  \
0                  HAJOS, Alfred     HUN    Men              100M Freestyle
1               HERSCHMANN, Otto     AUT    Men              100M Freestyle
2              DRIVAS, Dimitrios     GRE    Men  100M Freestyle For Sailors
3             MALOKINIS, Ioannis     GRE    Men  100M Freestyle For Sailors
4             CHASAPIS, Spiridon     GRE    Men  100M Freestyle For Sailors
...                          ...     ...    ...                         ...
31160         JANIKOWSKI, Damian     POL    Men                    Wg 84 KG
31161  REZAEI, Ghasem Gholamreza     IRI    Men                    Wg 96 KG
31162             TOTROV, Rustam     RUS    Men                    Wg 96 KG
31163          ALEKSANYAN, Artur     ARM    Men                    Wg 96 KG
31164             LIDBERG, Jimmy     SWE    Men                    Wg 96 KG

        Medal
0        Gold
1      Silver
2      Bronze
3        Gold
4      Silver
...       ...
31160  Bronze
31161    Gold
31162  Silver
31163  Bronze
31164  Bronze

[31165 rows x 9 columns]

In [8]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [9]:
df.shape

(31165, 9)

___
**3. Write a program to display the last 10 rows of the DataFrame?**

In [10]:
#Code here
df.tail(10)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
31155,2012,London,Wrestling,Wrestling Freestyle,"AHMADOV, Emin",AZE,Men,Wg 74 KG,Bronze
31156,2012,London,Wrestling,Wrestling Freestyle,"KAZAKEVIC, Aleksandr",LTU,Men,Wg 74 KG,Bronze
31157,2012,London,Wrestling,Wrestling Freestyle,"KHUGAEV, Alan",RUS,Men,Wg 84 KG,Gold
31158,2012,London,Wrestling,Wrestling Freestyle,"EBRAHIM, Karam Mohamed Gaber",EGY,Men,Wg 84 KG,Silver
31159,2012,London,Wrestling,Wrestling Freestyle,"GAJIYEV, Danyal",KAZ,Men,Wg 84 KG,Bronze
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

___
**4. Write a program to get a summary of the DataFrame (such as the mean, count, etc.) and print the data types of all columns?**

In [11]:
#Code here
df.describe()

               Year
count  31165.000000
mean    1970.482785
std       33.158416
min     1896.000000
25%     1948.000000
50%     1980.000000
75%     2000.000000
max     2012.000000

In [12]:
print(df.dtypes)

Year           int64
City          object
Sport         object
Discipline    object
Athlete       object
Country       object
Gender        object
Event         object
Medal         object
dtype: object

___
**5. Write a program to select a single column "Gender" from the DataFrame?**

In [13]:
#Code here
print(df["Gender"])

0        Men
1        Men
2        Men
3        Men
4        Men
        ...
31160    Men
31161    Men
31162    Men
31163    Men
31164    Men
Name: Gender, Length: 31165, dtype: object

___
**6. Write a program to select multiple columns "Year" and "City" from the DataFrame?**

In [14]:
#Code here
print(df["Year"],df["City"])

0        1896
1        1896
2        1896
3        1896
4        1896
         ...
31160    2012
31161    2012
31162    2012
31163    2012
31164    2012
Name: Year, Length: 31165, dtype: int64 0        Athens
1        Athens
2        Athens
3        Athens
4        Athens
          ...
31160    London
31161    London
31162    London
31163    London
31164    London
Name: City, Length: 31165, dtype: object

___
**7. Write a program to  filter rows in a DataFrame based on the condition that Gender = Men ?**

In [15]:
#Code here
print(df["Gender"] == "Men")

0        True
1        True
2        True
3        True
4        True
         ...
31160    True
31161    True
31162    True
31163    True
31164    True
Name: Gender, Length: 31165, dtype: bool

___
**8. Write a program to select and print the first 5 rows and columns 2 to 6 (inclusive) of the DataFrame. Also, print the type of the resulting object?**

In [16]:
#Code here

df_subset = df.iloc[:, 1:6]
print(df_subset)
print(type(df_subset))

         City      Sport           Discipline                    Athlete  \
0      Athens   Aquatics             Swimming              HAJOS, Alfred
1      Athens   Aquatics             Swimming           HERSCHMANN, Otto
2      Athens   Aquatics             Swimming          DRIVAS, Dimitrios
3      Athens   Aquatics             Swimming         MALOKINIS, Ioannis
4      Athens   Aquatics             Swimming         CHASAPIS, Spiridon
...       ...        ...                  ...                        ...
31160  London  Wrestling  Wrestling Freestyle         JANIKOWSKI, Damian
31161  London  Wrestling  Wrestling Freestyle  REZAEI, Ghasem Gholamreza
31162  London  Wrestling  Wrestling Freestyle             TOTROV, Rustam
31163  London  Wrestling  Wrestling Freestyle          ALEKSANYAN, Artur
31164  London  Wrestling  Wrestling Freestyle             LIDBERG, Jimmy

      Country
0         HUN
1         AUT
2         GRE
3         GRE
4         GRE
...       ...
31160     POL
31161     IRI
31162     RUS
31163     ARM
31164     SWE

[31165 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

___
**9. Write a program to  delete a column "City" from the DataFrame and print the new dataframe??**

In [17]:
#Code here
new_df=df.drop(columns = ["City"])
new_df

,Year,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
31160,2012,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

___
**10. Write a program to  rename a column "Athlete" to "Participants" in the DataFrame?**

In [18]:
#Code here
df.rename(columns={'Athlete': 'Participants'}, inplace=True)
df

,Year,City,Sport,Discipline,Participants,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

___
**11. Write a program to select and print the "Participants", "Medal" and "Event" columns for index 10 and 201 from the DataFrame.?**

In [19]:
#Code here
ans = df.loc[[10,201] , ["Participants", "Medal", "Event"]]
print(ans)

          Participants   Medal           Event
10   PEPANOS, Antonios  Silver  400M Freestyle
201    LISTER, William    Gold      Water Polo

___
**12. Write a program to display the first 10 rows of the df DataFrame and check for any missing values in each column.?**

In [20]:
#Code here
temp1 = df.head(10)
print(temp1)

   Year    City     Sport Discipline           Participants Country Gender  \
0  1896  Athens  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming       HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming      DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming     MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming     CHASAPIS, Spiridon     GRE    Men
5  1896  Athens  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
6  1896  Athens  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
7  1896  Athens  Aquatics   Swimming       ANDREOU, Joannis     GRE    Men
8  1896  Athens  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
9  1896  Athens  Aquatics   Swimming          NEUMANN, Paul     AUT    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
5             1200M Freestyle  Bronze
6             1200M Freestyle    Gold
7             1200M Freestyle  Silver
8              400M Freestyle  Bronze
9              400M Freestyle    Gold

In [21]:
temp1.isnull

<bound method DataFrame.isnull of    Year    City     Sport Discipline           Participants Country Gender  \
0  1896  Athens  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming       HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming      DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming     MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming     CHASAPIS, Spiridon     GRE    Men
5  1896  Athens  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
6  1896  Athens  Aquatics   Swimming          HAJOS, Alfred     HUN    Men
7  1896  Athens  Aquatics   Swimming       ANDREOU, Joannis     GRE    Men
8  1896  Athens  Aquatics   Swimming  CHOROPHAS, Efstathios     GRE    Men
9  1896  Athens  Aquatics   Swimming          NEUMANN, Paul     AUT    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
5             1200M Freestyle  Bronze
6             1200M Freestyle    Gold
7             1200M Freestyle  Silver
8              400M Freestyle  Bronze
9              400M Freestyle    Gold  >

___
**13. Write a program to select and print the "Country" and "Medal" columns from the df DataFrame, and then print the number of unique values in each of these columns.?**

In [22]:
#Code here
country_col = df["Country"]
medal_col = df["Medal"]

print(country_col)
print(medal_col)

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
31160    POL
31161    IRI
31162    RUS
31163    ARM
31164    SWE
Name: Country, Length: 31165, dtype: object
0          Gold
1        Silver
2        Bronze
3          Gold
4        Silver
          ...
31160    Bronze
31161      Gold
31162    Silver
31163    Bronze
31164    Bronze
Name: Medal, Length: 31165, dtype: object

In [23]:
unique_values1 = df["Country"].unique()
print(unique_values1.size)

unique_values1 = df["Medal"].unique()
print(unique_values1.size)

148
3

___
**14. Write a program to group the df DataFrame by the "Country" column and calculate the total number of medals for each country. Print the result.?**

In [27]:
medal_counts = df.groupby("Country")["Medal"].count()
print(medal_counts)

Country
AFG      2
AHO      1
ALG     15
ANZ     29
ARG    259
      ...
VIE      2
YUG    435
ZAM      2
ZIM     23
ZZX     48
Name: Medal, Length: 147, dtype: int64

___
**15. Write a program to sort the df DataFrame by the "Year" column in descending order and print the first 5 rows of the sorted DataFrame.?**

In [28]:
#Code here
sorted_df = df.sort_values(by=['Year'], ascending=False)
sorted_df.head(5)

,Year,City,Sport,Discipline,Participants,Country,Gender,Event,Medal
31141,2012,London,Wrestling,Wrestling Freestyle,"SORYAN REIHANPOUR, Hamid Mohammad",IRI,Men,Wg 55 KG,Gold
31143,2012,London,Wrestling,Wrestling Freestyle,"MODOS, Peter",HUN,Men,Wg 55 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver

In [29]:
df

,Year,City,Sport,Discipline,Participants,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

___
**16. Write a program to add a new column "Century" to the df DataFrame. Classify each event as occurring in the "20th Century" if the "Year" is less than 2000, or the "21st Century" if the "Year" is 2000 or later. Print the first 5 rows to verify the change.**

In [30]:
def get_century(year):
    if year <= 2000:
        return "20th Century"
    elif 2000 < year <= 2100:
        return "21st Century"
    else:
        return "22nd Century"

df["Century"] = df["Year"].apply(get_century)

print(df)

       Year    City      Sport           Discipline  \
0      1896  Athens   Aquatics             Swimming
1      1896  Athens   Aquatics             Swimming
2      1896  Athens   Aquatics             Swimming
3      1896  Athens   Aquatics             Swimming
4      1896  Athens   Aquatics             Swimming
...     ...     ...        ...                  ...
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                    Participants Country Gender                       Event  \
0                  HAJOS, Alfred     HUN    Men              100M Freestyle
1               HERSCHMANN, Otto     AUT    Men              100M Freestyle
2              DRIVAS, Dimitrios     GRE    Men  100M Freestyle For Sailors
3             MALOKINIS, Ioannis     GRE    Men  100M Freestyle For Sailors
4             CHASAPIS, Spiridon     GRE    Men  100M Freestyle For Sailors
...                          ...     ...    ...                         ...
31160         JANIKOWSKI, Damian     POL    Men                    Wg 84 KG
31161  REZAEI, Ghasem Gholamreza     IRI    Men                    Wg 96 KG
31162             TOTROV, Rustam     RUS    Men                    Wg 96 KG
31163          ALEKSANYAN, Artur     ARM    Men                    Wg 96 KG
31164             LIDBERG, Jimmy     SWE    Men                    Wg 96 KG

        Medal       Century
0        Gold  20th Century
1      Silver  20th Century
2      Bronze  20th Century
3        Gold  20th Century
4      Silver  20th Century
...       ...           ...
31160  Bronze  21st Century
31161    Gold  21st Century
31162  Silver  21st Century
31163  Bronze  21st Century
31164  Bronze  21st Century

[31165 rows x 10 columns]

___
**17. Write a program to filter and print rows from the df DataFrame where the "Country" is "USA" and the "Medal" is "Gold". Also, count the number of rows that meet this condition.**

In [31]:
#Code here
filtered_df = df[(df['Country'] == 'USA') & (df['Medal'] == 'Gold')]
print(filtered_df)

       Year    City       Sport           Discipline  \
13     1896  Athens   Athletics            Athletics
15     1896  Athens   Athletics            Athletics
21     1896  Athens   Athletics            Athletics
27     1896  Athens   Athletics            Athletics
29     1896  Athens   Athletics            Athletics
...     ...     ...         ...                  ...
30955  2012  London      Tennis               Tennis
30970  2012  London  Volleyball     Beach Volleyball
30971  2012  London  Volleyball     Beach Volleyball
31125  2012  London   Wrestling  Wrestling Freestyle
31133  2012  London   Wrestling  Wrestling Freestyle

                   Participants Country Gender             Event Medal  \
13                BURKE, Thomas     USA    Men              100M  Gold
15               CURTIS, Thomas     USA    Men      110M Hurdles  Gold
21                BURKE, Thomas     USA    Men              400M  Gold
27              GARRETT, Robert     USA    Men      Discus Throw  Gold
29                CLARK, Ellery     USA    Men         High Jump  Gold
...                         ...     ...    ...               ...   ...
30955          WILLIAMS, Serena     USA  Women           Singles  Gold
30970                MAY, Misty     USA  Women  Beach Volleyball  Gold
30971     WALSH JENNINGS, Kerri     USA  Women  Beach Volleyball  Gold
31125  BURROUGHS, Jordan Ernest     USA    Men          Wf 74 KG  Gold
31133     VARNER, Jacob Stephen     USA    Men          Wf 96 KG  Gold

            Century
13     20th Century
15     20th Century
21     20th Century
27     20th Century
29     20th Century
...             ...
30955  21st Century
30970  21st Century
30971  21st Century
31125  21st Century
31133  21st Century

[2235 rows x 10 columns]

In [32]:
print(len(filtered_df))

2235

___
**18. Write a program to create a new column "Medal Points" in the df DataFrame. Assign 3 points for "Gold", 2 points for "Silver", and 1 point for "Bronze". Print the first 5 rows to verify the changes.**

In [33]:
#Code here
medal_points = {'Gold': 3,'Silver': 2,'Bronze': 1}
df['Medal Points'] = df['Medal'].map(medal_points)
df.head()

,Year,City,Sport,Discipline,Participants,Country,Gender,Event,Medal,Century,Medal Points
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,20th Century,3
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,20th Century,2
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,20th Century,1
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,20th Century,3
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,20th Century,2

___
**19. Write a program to filter the df DataFrame to include only rows where the "Country" is "USA". Then, group the filtered DataFrame by "Year" and calculate the total number of medals won by the USA each year. Print the results.**

In [34]:
#Code here
# Filter rows for USA
usa_df = df[df['Country'] == 'USA']
medals_by_year = usa_df.groupby('Year').size().reset_index(name='Total Medals')
print(medals_by_year)
for _, row in medals_by_year.iterrows():
    print(f"Year {row['Year']}: {row['Total Medals']} medals")

    Year  Total Medals
0   1896            20
1   1900            55
2   1904           394
3   1908            63
4   1912           101
5   1920           193
6   1924           198
7   1928            84
8   1932           181
9   1936            92
10  1948           148
11  1952           130
12  1956           118
13  1960           112
14  1964           150
15  1968           149
16  1972           155
17  1976           155
18  1984           333
19  1988           193
20  1992           224
21  1996           260
22  2000           248
23  2004           264
24  2008           315
25  2012           250
Year 1896: 20 medals
Year 1900: 55 medals
Year 1904: 394 medals
Year 1908: 63 medals
Year 1912: 101 medals
Year 1920: 193 medals
Year 1924: 198 medals
Year 1928: 84 medals
Year 1932: 181 medals
Year 1936: 92 medals
Year 1948: 148 medals
Year 1952: 130 medals
Year 1956: 118 medals
Year 1960: 112 medals
Year 1964: 150 medals
Year 1968: 149 medals
Year 1972: 155 medals
Year 1976: 155 medals
Year 1984: 333 medals
Year 1988: 193 medals
Year 1992: 224 medals
Year 1996: 260 medals
Year 2000: 248 medals
Year 2004: 264 medals
Year 2008: 315 medals
Year 2012: 250 medals

___
**20. Write a program to identify the athlete who has won the most medals. Display the athlete's name and the total number of medals they have won.**

In [35]:
#Code here
medals_by_sport = df.groupby(["Sport", "Medal"]).size()
for i,j in medals_by_sport.items():
    print(f"Sport : {i[0]}, Medal : {i[1]}, Count : {j}")

Sport : Aquatics, Medal : Bronze, Count : 1365
Sport : Aquatics, Medal : Gold, Count : 1421
Sport : Aquatics, Medal : Silver, Count : 1384
Sport : Archery, Medal : Bronze, Count : 90
Sport : Archery, Medal : Gold, Count : 126
Sport : Archery, Medal : Silver, Count : 113
Sport : Athletics, Medal : Bronze, Count : 1199
Sport : Athletics, Medal : Gold, Count : 1215
Sport : Athletics, Medal : Silver, Count : 1224
Sport : Badminton, Medal : Bronze, Count : 52
Sport : Badminton, Medal : Gold, Count : 46
Sport : Badminton, Medal : Silver, Count : 46
Sport : Baseball, Medal : Bronze, Count : 112
Sport : Baseball, Medal : Gold, Count : 111
Sport : Baseball, Medal : Silver, Count : 112
Sport : Basketball, Medal : Bronze, Count : 334
Sport : Basketball, Medal : Gold, Count : 342
Sport : Basketball, Medal : Silver, Count : 336
Sport : Basque Pelota, Medal : Gold, Count : 2
Sport : Basque Pelota, Medal : Silver, Count : 2
Sport : Boxing, Medal : Bronze, Count : 416
Sport : Boxing, Medal : Gold, Count : 239
Sport : Boxing, Medal : Silver, Count : 239
Sport : Canoe, Medal : Bronze, Count : 27
Sport : Canoe, Medal : Gold, Count : 27
Sport : Canoe, Medal : Silver, Count : 27
Sport : Canoe / Kayak, Medal : Bronze, Count : 334
Sport : Canoe / Kayak, Medal : Gold, Count : 334
Sport : Canoe / Kayak, Medal : Silver, Count : 334
Sport : Cricket, Medal : Gold, Count : 12
Sport : Cricket, Medal : Silver, Count : 12
Sport : Croquet, Medal : Bronze, Count : 2
Sport : Croquet, Medal : Gold, Count : 4
Sport : Croquet, Medal : Silver, Count : 2
Sport : Cycling, Medal : Bronze, Count : 365
Sport : Cycling, Medal : Gold, Count : 371
Sport : Cycling, Medal : Silver, Count : 369
Sport : Equestrian, Medal : Bronze, Count : 306
Sport : Equestrian, Medal : Gold, Count : 320
Sport : Equestrian, Medal : Silver, Count : 313
Sport : Fencing, Medal : Bronze, Count : 519
Sport : Fencing, Medal : Gold, Count : 552
Sport : Fencing, Medal : Silver, Count : 542
Sport : Football, Medal : Bronze, Count : 509
Sport : Football, Medal : Gold, Count : 503
Sport : Football, Medal : Silver, Count : 485
Sport : Golf, Medal : Bronze, Count : 4
Sport : Golf, Medal : Gold, Count : 13
Sport : Golf, Medal : Silver, Count : 13
Sport : Gymnastics, Medal : Bronze, Count : 731
Sport : Gymnastics, Medal : Gold, Count : 820
Sport : Gymnastics, Medal : Silver, Count : 756
Sport : Handball, Medal : Bronze, Count : 323
Sport : Handball, Medal : Gold, Count : 321
Sport : Handball, Medal : Silver, Count : 329
Sport : Hockey, Medal : Bronze, Count : 459
Sport : Hockey, Medal : Gold, Count : 486
Sport : Hockey, Medal : Silver, Count : 477
Sport : Ice Hockey, Medal : Bronze, Count : 8
Sport : Ice Hockey, Medal : Gold, Count : 8
Sport : Ice Hockey, Medal : Silver, Count : 11
Sport : Jeu de paume, Medal : Bronze, Count : 1
Sport : Jeu de paume, Medal : Gold, Count : 1
Sport : Jeu de paume, Medal : Silver, Count : 1
Sport : Judo, Medal : Bronze, Count : 246
Sport : Judo, Medal : Gold, Count : 123
Sport : Judo, Medal : Silver, Count : 122
Sport : Lacrosse, Medal : Gold, Count : 28
Sport : Lacrosse, Medal : Silver, Count : 31
Sport : Modern Pentathlon, Medal : Bronze, Count : 60
Sport : Modern Pentathlon, Medal : Gold, Count : 60
Sport : Modern Pentathlon, Medal : Silver, Count : 60
Sport : Polo, Medal : Bronze, Count : 17
Sport : Polo, Medal : Gold, Count : 22
Sport : Polo, Medal : Silver, Count : 27
Sport : Rackets, Medal : Bronze, Count : 4
Sport : Rackets, Medal : Gold, Count : 3
Sport : Rackets, Medal : Silver, Count : 3
Sport : Roque, Medal : Bronze, Count : 1
Sport : Roque, Medal : Gold, Count : 1
Sport : Roque, Medal : Silver, Count : 1
Sport : Rowing, Medal : Bronze, Count : 888
Sport : Rowing, Medal : Gold, Count : 890
Sport : Rowing, Medal : Silver, Count : 889
Sport : Rugby, Medal : Bronze, Count : 23
Sport : Rugby, Medal : Gold, Count : 78
Sport : Rugby, Medal : Silver, Count : 91
Sport : Sailing, Medal : Bronze, Count : 325
Sport : Sailing, Medal : Gold, Count : 412
Sport : Sailing, Medal : Silver, Count : 372
Sport : Shooting, Medal : Bronze, Count : 380
Sport : Shooting, Medal : Gold, Count : 384
Sport : Shooting, Medal : Silver, Count : 386
Sport : Skating, Medal : Bronze, Count : 9
Sport : Skating, Medal : Gold, Count : 9
Sport : Skating, Medal : Silver, Count : 9
Sport : Softball, Medal : Bronze, Count : 60
Sport : Softball, Medal : Gold, Count : 60
Sport : Softball, Medal : Silver, Count : 60
Sport : Table Tennis, Medal : Bronze, Count : 52
Sport : Table Tennis, Medal : Gold, Count : 46
Sport : Table Tennis, Medal : Silver, Count : 46
Sport : Taekwondo, Medal : Bronze, Count : 48
Sport : Taekwondo, Medal : Gold, Count : 32
Sport : Taekwondo, Medal : Silver, Count : 32
Sport : Tennis, Medal : Bronze, Count : 114
Sport : Tennis, Medal : Gold, Count : 92
Sport : Tennis, Medal : Silver, Count : 90
Sport : Triathlon, Medal : Bronze, Count : 8
Sport : Triathlon, Medal : Gold, Count : 8
Sport : Triathlon, Medal : Silver, Count : 8
Sport : Tug of War, Medal : Bronze, Count : 22
Sport : Tug of War, Medal : Gold, Count : 36
Sport : Tug of War, Medal : Silver, Count : 36
Sport : Volleyball, Medal : Bronze, Count : 331
Sport : Volleyball, Medal : Gold, Count : 332
Sport : Volleyball, Medal : Silver, Count : 331
Sport : Water Motorsports, Medal : Gold, Count : 5
Sport : Weightlifting, Medal : Bronze, Count : 197
Sport : Weightlifting, Medal : Gold, Count : 200
Sport : Weightlifting, Medal : Silver, Count : 196
Sport : Wrestling, Medal : Bronze, Count : 428
Sport : Wrestling, Medal : Gold, Count : 391
Sport : Wrestling, Medal : Silver, Count : 393

___
**21. Write a program to group the df DataFrame by the "Sport" column and calculate the number of each type of medal (Gold, Silver, Bronze) for each sport. Print the results.**

In [36]:
#Code here
athlete_medal=df.groupby("Participants")["Medal"].count()
top_athlete=athlete_medal.idxmax()
max_medal=athlete_medal.max()
print("Athlete with maximum medals:",top_athlete)
print("Medals Earned:",max_medal)

Athlete with maximum medals: PHELPS, Michael
Medals Earned: 22

### Good Luck!