## <b>Applied Machine Learning Assignment - 1</b>

<pre>
Name - Prantik Sanki
Sap Id - 500122649
Batch - AI ML B2
</pre>

<p style="font-size: 15px;"> <b>1. Dataset Overview</b>:
Load the dataset and display the first five rows. Identify the column names and data
types. Are there any columns with inconsistent or missing data? </p>

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
# Load the dataset and display the first five rows
df = pd.read_csv("Real estate.csv")

In [5]:
df

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [6]:
df.head(5)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [18]:
# Identify the column names and data types
columns = df.columns

In [19]:
columns

Index(['No', 'X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude',
       'Y house price of unit area'],
      dtype='object')

In [21]:
for i in df.columns:
    print(f"Column: {i}, Data Type: {df[i].dtype}")

Column: No, Data Type: int64
Column: X1 transaction date, Data Type: float64
Column: X2 house age, Data Type: float64
Column: X3 distance to the nearest MRT station, Data Type: float64
Column: X4 number of convenience stores, Data Type: int64
Column: X5 latitude, Data Type: float64
Column: X6 longitude, Data Type: float64
Column: Y house price of unit area, Data Type: float64

In [27]:
#  Are there any columns with inconsistent or missing data
missingData = df.isnull().sum()

In [28]:
missingData

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

<p> <b> Ans </b>: So there is no missing data in any column.</p>

<p style="font-size: 18px;">
  <b>2. Statistical Summary:</b>
  Generate a statistical summary (mean, median, standard deviation, minimum, and maximum)
  for all numerical columns. What does this summary tell you about the distribution
  of house prices and other features?
</p>